
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul {
  margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* General STYLE */
body {
    background:#dcdcdc;
    font-size:90%;
    padding:0em;
    text-rendering: optimizeSpeed;
    /* to stick the footer to the bottom */
    min-height: 100vh; 
    display:flex; flex-direction:column; 
}
h1, h2, h3, ul {
    padding:0;
}
h1 {
    font-size:2.5em;
    line-height:1em;
    font-family:Helvetica, Arial, sans-serif;
    font-weight:100;
    text-align:center;
    color:#e2dbdb;
    padding:1em 0em;
}
h2 {
    font-size:1.563em;
    line-height:1em;
    font-family:Helvetica, Arial, sans-serif;
    font-weight:100;
    color:#2f2d2c;
    margin-bottom:1em;
    text-align:left;
}
p, li, a {
    line-height:1.25em;
    font-family:Helvetica, Arial, sans-serif;
    font-weight:100;
    color:#2f2d2c;
}
p {
    text-align:justify;
}
li {
    list-style:square;
}
a {
    text-decoration:none;
    transition:background 0.2s;
    -webkit-transition:background 0.2s;
}
/* On Top Bar */
#menubar {
    background:white;
}
#menubar a img{
    width: 2.5rem;
}
/* header */
header {
    display:block;
    background:#2f2c2c;
}
/* Navigation */
.nav {
    display:none;
}
.nav ul {
    display:flex;
    flex-direction: column; 
    /* flex-wrap:wrap;  */
    justify-content: center; 
    gap: 1rem; 
    background:white;
}
.nav ul li {
    list-style:none;
}
.nav a {
    display:block; 
    padding: 0.56rem 1rem;
    font-size:1.125rem;
    text-align: center;
    border-bottom: 0.2rem solid white;
}
.nav a:hover {
    background:#dbd9d8;
    border-bottom: 0.2rem solid #e7590b;
}
.nav a.active {
    border-bottom: 0.188rem solid #e7590b;
}
/*Content area */
main {
    flex:1; /* to stick the footer to the bottom */
    display:flex; 
    flex-wrap :wrap;
    flex-direction:column; 
    gap:2rem; 
    justify-content: center; 
    width:96%;
    max-width: 70rem;
    margin:2rem auto;
}
main > * {
    flex-shrink: 1;
    flex-grow: 1;
}
main article {
    background:white;
    padding:2rem;
    flex-basis:30rem;
}
main article img {
    max-width: 100%;  
}
/* Round corners */
main article, aside section {
    /* box-shadow:0px 0px 10px -5px #4c4948; */
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35% / 0.25);

    border-radius: 5px;
}
aside {
    display:flex; 
    flex-direction:column; 
    gap:2rem; 
    flex-basis:10rem;
}
aside section {
    background:white;
    padding:2rem;
}
aside section ul {
    margin: 0 0 0 1rem;
}

@media screen and (min-width:40rem) {
    main {flex-direction:row;} 
    #menubar {display:none;}
    .nav {display:block !important;}
    .nav ul {flex-direction: row; }
    body {font-size:100%;}
}
/* Footer */
footer {
    display:block;
    background:#2f2c2c;
}
footer ul {
    display:flex; 
    flex-wrap :wrap;
    flex-direction:row; 
    gap:2rem; 
    justify-content: start; 
    width:96%;
    max-width: 70rem;
    margin: 0 auto;
}
footer ul li {
    list-style:none;
    color:#e2dbdb;
    font-size:0.75rem;
    line-height:2rem;
}