
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul {
  margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* General STYLE */
:root {
    --accent: #fa8c1d;
    --gradient: linear-gradient(33deg, #5790d5,  #1f8fc3, #457e46, #ff853b, #ff4f5a, #ff69ac);
  }

body {
    font-family: 'Inter Tight', sans-serif;
    font-size:90%;
    padding:0em;
    text-rendering: optimizeSpeed;
    /* to stick the footer to the bottom */
    min-height: 100vh; 
    display:flex; flex-direction:column; 
}
h1, h2, h3, ul {
    padding:0;
}
h1 {
    /* font-size:4.5em; */
    /* font-size: 3vw;
    line-height:1em;
    font-weight:100;
    text-align:center; 
    color:white; 
    padding:1em 0em; */
    color: transparent;
    font-size:1px;
}
.header-holder {
    display:grid;
    gap: 0.1rem;
    grid-template-columns: 3fr 0.5fr; 
    max-width: 100rem;
    margin:0 auto;
}
.header-holder img {
    align-self:end;
    display:block;
}
h2, h3 {
    line-height:1em;
    font-weight:100;
    margin-bottom:1em;
    text-align:center;
}
h2 {
    font-size:3.5rem;
    color:#5da8c3;
}
h3 {
    font-size:2rem;
    color:#2f2d2c;
}
p, li, a {
    line-height:1.5em;
    font-weight:100;
    color:#2f2d2c;
}
p {
    text-align:justify;
    padding:0 0 0.7rem 0;
}
li {
    list-style:none;
    /* list-style:square; */
}
a {
    text-decoration:none;
    transition:background 0.2s;
    -webkit-transition:background 0.2s;
}
/* On Top Bar */
#menubar {
    background:white;
}
#menubar a {
    line-height: 0.1rem;
}
#menubar a img{
    width: 2.5rem;
    padding:0.8rem 0 0.6rem 0.6rem;
}
/* header */
header {
    display:block;
    /* background:#2f2c2c; */
    /* background-image: linear-gradient(33deg, rgb(44 129 213),  #5da8c3, #457e46); */
    background-image: var(--gradient);
    background-size:400%;
    animation: bg-animation 30s infinite alternate;
}
@keyframes bg-animation {
    0% {
        background-position:left;
    }
    100% {
        background-position:right;
    }
}

/* Navigation */
.nav {
    display:none;
}
.nav ul {
    display:flex;
    flex-direction: column; 
    /* flex-wrap:wrap;  */
    justify-content: center; 
    gap: 1rem; 
    background:white;
}
.nav ul li {
    list-style:none;
}
.nav a {
    display:block; 
    padding: 0.56rem 1rem;
    font-size:1.125rem;
    text-align: center;
    border-bottom: 0.2rem solid white;
    border-radius: 5rem;
}
.nav a:hover {
    color:var(--accent);;
    border-bottom: 0.2rem solid var(--accent);;
}
.nav a.active {
    border-bottom: 0.188rem solid var(--accent);;
}
/*Content area */
main {
    flex:1; /* to stick the footer to the bottom */
    display:flex; 
    flex-wrap :wrap;
    flex-direction:column; 
    gap:2rem; 
    justify-content: center; 
    width:96%;
    max-width: 70rem;
    margin:2rem auto;
}
main > * {
    flex-shrink: 1;
    flex-grow: 1;
}
main article {
    background:white;
    padding:0.2rem;
    flex-basis:30rem;
    /* box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35% / 0.25); */
}
main article img {
    max-width: 100%; 
    display:block; 
    margin:2rem auto;
}
span.accent {
    color:var(--accent);
}
.button {
    display:block;
    width: fit-content;
    margin: 2rem auto;
    /* padding:1rem 2rem; */
    padding:2rem 3rem;
    background: var(--accent);
    color:white;
    /* font-size:0.75rem; */
    font-size:1rem;
    letter-spacing:0.02rem;
    text-transform: uppercase;
    box-shadow:0px 0px 10px -5px #4c4948;
    border-radius: 5rem;
}
.button:hover, .button:focus-visible {
    background:#ef7f0f;
}
.hover-animation {
    transition:transform 1000ms;
}
.hover-animation:hover {
    transform:translatey(-0.3rem);
    transition:transform 250ms;
}
aside {
    display:flex; 
    flex-direction:column; 
    gap:2rem; 
    flex-basis:10rem;
}
aside section {
    padding:2rem;
    border-radius: 5rem;
}
aside section:nth-child(1){
    background:#5cb2b5;
}
aside section:nth-child(2){
    background:#5da8c3;
}
aside section:nth-child(3){
    background: #5485b4;
}
aside section ul {
    margin: 0 0 0 1rem;
}
aside section * {
    text-align:center;
    color:white;
}
/* Footer */
footer {
    display:block;
    background:#5bb2b5;
}
footer ul {
    display:flex; 
    flex-wrap :wrap;
    flex-direction:row; 
    gap:0.5rem; 
    justify-content: start; 
    width:96%;
    max-width: 70rem;
    margin: 0 auto;
}
footer ul li {
    list-style:none;
    color:#ffffff;
    font-size:0.75rem;
    line-height:2rem;
}
@media screen and (min-width:40rem) {
    main {flex-direction:row;} 
    main article {padding:2rem;}
    #menubar {display:none;}
    .nav {display:block !important;}
    .nav ul {flex-direction: row; }
    body {font-size:100%;}
    footer ul {gap:2rem; }
}